<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Объявления</title>
</head>
<body>
    <h1>Объявления</h1>
    {% if perms.board.add_announcement  %}
        <a href="announcement/create/" class="btn btn-primary">Создать объявление</a>
        <a href="responses/" class="btn btn-primary">Отклики на мои объявления</a>
    {% endif %}

    <ul>
        {% for announcement in announcements %}
            <li>
                <h2><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.title }}</a></h2>
                <p>Категория: {{ announcement.get_category_display }}</p>
                <p>Автор: {{ announcement.author.authorUser.username }}</p>
                <p>Дата: {{ announcement.created_at|date:"d.m.Y H:i" }}</p>
            </li>
        {% empty %}
            <p>Нет доступных объявлений.</p>
        {% endfor %}
    </ul>
</body>
</html>
